
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
  margin: 0;
  padding: 0;
}

.cards > article {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.cards .cards-card-body {
  margin: 16px;
  flex-grow: 1;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > article img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
    